﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center h3">
    <p><a href=".well-known/openid-configuration" target="_blank">.well-known/openid-configuration</a></p>
    <p><a href=".well-known/jwks.json" target="_blank">.well-known/jwks.json</a></p>
</div>
