﻿@page
@model ServerToken.Pages.LoginModel
@if (string.IsNullOrEmpty(Model.CodeString))
{
	<h1>Server</h1>
	<h2>Login</h2>

	<form method="post">
		Username: <input type="text" name="username" /><br />
		@if (string.IsNullOrEmpty(Model.Message))
		{
			<input type="submit" value="Login" /><br />
		}
	</form>

	@if (!string.IsNullOrEmpty(Model.Message))
	{
		<div style="background-color: #c18383">
			<h2>Message:</h2>
			<h3>@Model.Message</h3>
		</div>
	}
}
else
{
	<form method="post" action="@Model.RedirectUri" name="openidform" style="visibility:hidden">
		<input type="text" name="code" value="@Model.CodeString" /><br />
		<input type="text" name="state" value="@Model.StateString" /><br />
		<input type="submit" value="CallBack" /><br />
	</form>
	<script type="text/javascript">
		window.onload = function () {
			document.openidform.submit();
		}
	</script>
}