﻿@page
@model PrivateModel
@{
    ViewData["Title"] = "Private";
}
<h1>@ViewData["Title"]</h1>

<div class="flex-container">
    <div>
        @if (!string.IsNullOrEmpty(Model.PhotoProfile) && !string.IsNullOrEmpty(Model.NickName) && !string.IsNullOrEmpty(Model.Email))
        {
            <h6>
                Profile<br />
                <img src="@Model.PhotoProfile" title="Profile" width="250" />
                <br />
                Nick name: @Model.NickName
                <br />
                E-mail: @Model.Email
                <br />
            </h6>
        }

        <div class="my-3 mx-3">
            <input class="btnX btn btn-info" type="button" value="Call WebApi2 public" id="bt1" /><br />
            <input class="btnX btn btn-info" type="button" value="Call WebApi2 private with access token" id="bt2" /><br />
        </div>

        <div class="my-3 mx-3">
            <h3>Response</h3>
            <h4>Status: <span id="statusValue"></span></h4>
            <p class="info-div" id="response">
            </p>
        </div>
    </div>
    <div>
        <div class="my-3 mx-3">
            <p>OpenId token:</p>
            <textarea id="OpenIdTxt" class="tokenTxt" rows="9">@await Model.OpenIdTokenString</textarea>

            <p>Access token:</p>
            <textarea id="AccessTokenTxt" class="tokenTxt" rows="9">@await Model.AccessTokenString</textarea>
            <p><a href="https://jwt.io" title="jwt.io" target="_blank"><img src="https://jwt.io/img/badge-compatible.svg" /></a></p>
        </div>
    </div>
</div>
@section Scripts
{
<script src="~/js/private_page.js" asp-append-version="true"></script>
}
