﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: papayawhip;
}
.footer {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*******************************************/
.flex-container {
    display: flex;
    background-color: #ddd;
    width: 850px;
    min-width: 850px;
    max-width: 850px;
}

    .flex-container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 0px;
        font-size: 30px;
        width: 400px;
        min-width: 400px;
        max-width: 400px;
    }

.info-div {
    word-wrap: break-word;
    font-size: 0.5em;
}

.tokenTxt {
    resize: none;
    font-size: 14px;
    width: 365px;
}

.btnX {
    width: 300px;
}